@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - SETTINGS
-------------------------------------------------------------- */



/*--------------------------------------------------------------
2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */
html {
	font-size: 9pt;
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
}
/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */
/* -- FORMS -- */

/* -- LISTS -- */
ul {
	list-style: none;
}

/* -- MEDIA -- */

/* -- TABLES -- */

/* -- TYPOGRAPHY -- */

a {
	text-decoration: none;
}

p {
	font-size: 1rem;
	line-height: 2em;
	color: #707ba8;
	margin-bottom: 2.5em;
}

 .span1 {
	font-size: 2rem;
	color: #4043bc;
}

/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

@media screen and (min-width: 768px) {     /*medium display */
}

header li {
	display: block;
}


@media screen and (min-width: 1024px) {    /*large display */
	#hero {
	background: url(../img/hero.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	
	-webkit-background-origin: border-box;
	-moz-background-origin: border-box;
	-o-background-origin: border-box;
	-ms-background-origin: border-box;
	background-origin: border-box;
	
	
}
}


/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */
.img-responsive {
	max-width: 100%;
}

#bg-hero p {
	text-align: left;
}

#whatwewilldo a {
	text-transform: uppercase;
	color: #c4ccd8;
}

#whatwewilldo div {
	padding-bottom: 8em;
}


/* -- BUTTONS -- */

.btn {
	padding: .5em;
	color: #fff;
	text-align: center;

	-webkit-border-radius: .25rem;
	-ms-border-radius: .25rem;
	-o-border-radius: .25rem;
	-moz-border-radius: .25rem;
	border-radius: .25rem;
}

.btn:first-child {
	padding: .5em;
}
/* -- HEADER -- */
h1, footer p:first-of-type {
	text-align: center;
	font-size: 2rem;
	color: #4043bc;
	
}

header div p:last-child {
	text-align: center;
}

.hero-type {
	font: 800 1.5rem 'Open Sans', sans-serif;
	text-align: left;
	color: #2b4a80;
	text-transform: capitalize;
	margin-bottom: 0;
}

h2 {
	font-size: 2rem;
	text-align: center;
	color: #2b4a80;
	margin: 6em 0;
	
}


h3 {
	font-size: 1.75rem;
	color: #2b4a80; 
	text-align: center;
	margin-bottom: 3em;
}

h4, h6 {
	font-size: 1.25rem;
	margin-top: 0;
	color: #2b4a80;
}

h5 {
	font-size: 3rem;
	color: #2b4a80;
	margin: 1em 0;
}

h6 {
	margin-top: 3em;
}
/* -- NAVIGATION -- */
nav li {
	display: inline-block;
	padding-right: .5em;
	margin: 0 auto;
	font-size: 1em;
	
}

nav li:last-child {
	padding-right: 0;
	
}

nav ul {
	margin-bottom: 2em;
}


#whatwewilldo {
	text-align: center;
}

#all-small div:first-child, #awesome div:first-child, #loop div:first-child, #roi div:first-child, #generate div div {
	float: left;
}

#all-small div:last-child, #awesome div:last-child, #loop div:last-child, #roi div:last-child, #generate div div:nth-child(2) {
	float: right;
}

#choose {
	text-align: center;
}

#choose ul {
	line-height: 2em;
	margin-bottom: 4em;
}

#bg-hero {
	background: url("../img/hero.jpg") no-repeat scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	-ms-background-size: cover;
  	background-size: cover;
	height: 350px;
}
#tips1 {
	background: url("../img/tips1.jpg") no-repeat scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	-ms-background-size: cover;
  	background-size: cover;
	height: 350px;
}

#tips2 {
	background: url("../img/tips2.jpg") no-repeat scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	-ms-background-size: cover;
  	background-size: cover;
	height: 350px;
}

#tips3 {
	background: url("../img/tips3.jpg") no-repeat; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	-ms-background-size: cover;
  	background-size: cover;
	height: 350px;
}

footer p:first-of-type {
	text-align: left;
}

footer a{
	text-decoration: none;
}

footer ul {
	margin-left: 0;
	padding-left: 0;
}

footer li {
	text-align: left;
	padding-right: 1em;
	margin-bottom: 1em;
	color: #707ba8;
}

footer a {
	text-decoration: none;
}

footer ul:first-of-type li {
	display: inline-block;
	margin-right: 1rem;
}

footer h6 {
	font-size: 1rem;
}



/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


/* -- ALIGNMENT -- */


/* -- COLOR -- */
.purp {
	background-color: #4043bc;
}

.pnk {
	background-color: #ff5c97;
}
/* -- SIZE -- */








